[submodule "Software/Arduino Libraries/arduino-nbiot-sdk"]
	path = Software/Arduino Libraries/arduino-nbiot-sdk
	url = https://github.com/allthingstalk/arduino-nbiot-sdk
[submodule "Software/Arduino Libraries/arduino-nbiot-rdk"]
	path = Software/Arduino Libraries/arduino-nbiot-rdk
	url = https://github.com/allthingstalk/arduino-nbiot-rdk
[submodule "Software/Arduino_Libraries/arduino-nbiot-rdk"]
	path = Software/Arduino_Libraries/arduino-nbiot-rdk
	url = https://github.com/allthingstalk/arduino-nbiot-rdk.git
